/* This CSS is common to all pages */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: sans-serif;
  color: black;
  background-color: #D3D3D3;
  max-height: 100%;
  overflow:hidden;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 10px 20px;
  color: white;
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.logout {
  position: fixed;
  bottom: 0;
  width: 4vw;
  border-top: 1px solid white;
}
.navitem.is-active {
  background-color: #eeeeee23;
}
.sidebar {
  background-color: #1066A3;
  width: 4vw;
}
