/* This CSS is common to all pages */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  font-family: 'Inter', serif;
  background-color: #D3D3D3;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 3px 10px;
}
.navitem.is-active {
  background-color: #eee;
}
.sidebar {
  background-color: #1066A3;
}
