/* This CSS is common to all pages */

body {
  margin: 0;
  font-family: sans-serif;
  color: black;
  background-color: #D3D3D3;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

.navitem {
  padding: 10px 20px;
  color: white;
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.logout {
  position: relative;
  top: 67vh;
  border-top: 1px solid white;
}
.navitem.is-active {
  background-color: #eeeeee23;
}
.sidebar {
  background-color: #1066A3;
}
